<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>USER</title>
  <link type="text/css" rel="stylesheet" href="/css/style.css">
  <!-- <link href="https://googleapis.com/css?family+Roboto" rel="stylesheet"> --> <!-- Commented out for now - receiving error in console. -->
</head>

<body>
  <h1 class="user_page_title">USER</h1>
  <a class="home_a" href="/">Return to the Robot Employee Database</a>
  <div class="users_outer_div users">
    {{#profile_item}}
        <!-- <h2>The URL:<a href="http://localhost:5000/{{username}}">localhost:5000/{{username}}</a></h2> -->
    <div class="user_top_div">
      <img class="user_img radius" src= {{avatar}}>
      <span class="user_span">
        <h2 class="user_name"> {{name}}</h2>
        <p class="user_p" >{{address.street_name}} | {{job}}</p>
        <p class="user_p" >{{email}} | {{phone}}</p>
      </span>
    </div>
    <div class="user_bottom_div">
      <div class="top_div">
        <p class="user_p left_p" ><b>Education: </b></p>
        <p class="user_p right_p" >{{university}}</p>
      </div>
      <div class="bottom_div">
        <p class="user_p left_p" ><b>Skills: </b></p>
        <p class="user_p right_p" >{{skills}}</p>
      </div>
        
    </div>

      {{/profile_item}}
  </div>
</body>
</html>
