/* Designed for desktop */

body {
    /* border: .05em solid orange; */
    /* width: 100%; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: space-between; */
    /* margin: auto; */
}

.home_page_title, .user_page_title {
    /* border: 1em solid black; */
    text-align: center;
}

/* Styles for Home Page/home.mustache file. */
.rows {
    /* border: .05em solid black; */
    margin: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* width: 75em; */
    /* width: 100em; */
    /* width: 40em; */
    /* border: .1em solid blue; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin: auto; */
}

.profiles {
    border: .05em solid gray;
    margin: .75em;
    width: 15em;
    display: flex;
    flex-direction: column;
    padding: .5em;
    border-radius: 1em;

    /* max-width: 200em; */
    /* width: 20%; */
    /* height: auto; */
    /* margin: auto; */
    /* display: inline; */
    /* Very bad. */
    /* display: block; */
    /* align-items: center; */
    /* justify-content: center; */
}

.profile_a {
    /* border: .05em solid gray; */
    text-align: center;

    /* margin:.5em; */
}

.profile_span {
    /* border: .05em solid gray; */
    text-align: center;

    /* margin:.5em; */
}

/* Styles for User Page/profile.mustache and profile_available.mustache files */
.home_a {
    /* border: .05em solid black; */
    margin: .5em;
}

.users_outer_div {
    border: .05em solid black;
    margin: .5em auto;
    max-width: 60%;
    border-radius: 3em;
    padding:1em 0;
}

.user_top_div {
    /* border: .25em solid darkred; */
    display: flex;
}

.user_span {
    /* border: .25em solid darkgreen; */
    width: 45%;
    margin: 0em auto;
    padding: 1.5em 0;
}

.user_name {
    font-size: 2em;
}

.user_p {
	/* border: .25em solid green; */
    font-size: 1em;
    
    /* display: inline; */
}

.user_bottom_div {
    /* border: .1em solid darkslateblue; */
    margin:1em 0;
}

.top_div, .bottom_div{
	/* border: .1em solid red; */
	margin:0em auto;
	width:80%;
    display:flex;
    
	/* justify-content:center; */
}

.left_p, .right_p {
	margin:0;
}

.left_p {
	/* border: .1em solid yellowgreen; */
    padding-right:1em;
    width: 10em;
    text-align:right;

    /* margin-right: 1em; */
    /* margin:0; */
}

.right_p {
	/* border: .1em solid orange; */
    padding-left:1em;
    width: 15em;

    /* margin-left: 1em; */
    /* margin:0; */
}

.user_img {
    border: .05em solid lightgray;
    border-radius: 5.5em;
    margin: .5em auto;
    margin:.5em auto;
    width: 25%;
    /* width: auto; */
    
    /* display: block; */
    /* max-width: 50%; */
    /* margin-left: auto;
  margin-right: auto; */
    
}

/* Designed for mobile */


/* On screens that are 600px or less, set the background color to olive */

@media (max-width: 1000px) {
    body {
        /* background-color: lightcyan; */
    }

    body {
        /* border: .05em solid orange; */
        /* width: 100%; */
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        /* justify-content: space-between; */
        /* margin: auto; */
    }
    
    .home_page_title, .user_page_title {
        /* border: 1em solid black; */
        /* text-align: center; */
    }
    
    /* Styles for Home Page/home.mustache file. */
    .rows {
        /* border: .05em solid black; */
        /* margin: .5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; */
    
        /* width: 75em; */
        /* width: 100em; */
        /* width: 40em; */
        /* border: .1em solid blue; */
        /* justify-content: space-between; */
        /* align-items: center; */
        /* margin: auto; */
    }
    
    .profiles {
        /* border: .05em solid gray;
        margin: .75em;
        width: 15em;
        display: flex;
        flex-direction: column;
        padding: .5em;
        border-radius: 1em; */
    
        /* max-width: 200em; */
        /* width: 20%; */
        /* height: auto; */
        /* margin: auto; */
        /* display: inline; */
        /* Very bad. */
        /* display: block; */
        /* align-items: center; */
        /* justify-content: center; */
    }
    
    .profile_a {
        /* border: .05em solid gray; */
        /* text-align: center; */
    
        /* margin:.5em; */
    }
    
    .profile_span {
        /* border: .05em solid gray; */
        /* text-align: center; */
    
        /* margin:.5em; */
    }
    
    /* Styles for User Page/profile.mustache and profile_available.mustache files */
    .home_a {
        /* border: .05em solid black; */
        /* margin: .5em; */
    }
    
    .users_outer_div {
        /* background-color: lightcoral; */
        /* border: .05em solid black;
        margin: .5em auto;
        max-width: 60%;
        border-radius: 3em;
        padding:1em 0; */
    }
    
    .user_top_div {
        /* border: .1em solid darkred; */
        display: block;
        /* display: flex; */
        /* justify-content: center; */
    }
    
    .user_span {
        /* border: .1em solid darkgreen; */
        /* width: 45%;
        margin: 0em auto;
        padding: 1.5em 0; */
        text-align: center;
    }
    
    .user_name {
        /* font-size: 2em; */
    }
    
    .user_p {
        /* border: .25em solid green; */
        font-size: 1.25em;
        
        /* display: inline; */
    }
    
    .user_bottom_div {
        /* border: .1em solid darkslateblue; */
        /* margin:1em 0; */
    }
    
    .top_div, .bottom_div{
        /* border: .1em solid red; */
        /* margin:0em auto;
        width:80%;
        display:flex; */
        
        /* justify-content:center; */
    }
    
    .left_p, .right_p {
        /* margin:0; */
    }
    
    .left_p {
        /* border: .1em solid yellowgreen; */
        /* padding-right:1em;
        width: 10em;
        text-align:right; */
    
        /* margin-right: 1em; */
        /* margin:0; */
    }
    
    .right_p {
        /* border: .1em solid orange; */
        /* padding-left:1em;
        width: 15em; */
    
        /* margin-left: 1em; */
        /* margin:0; */
    }
    
    .user_img {
        /* border: .05em solid lightgray; */
        /* border-radius: 5.5em; */
        margin: 0em auto;
        /* width: auto; */
        /* text-align: center; */
        
        display: block;
        /* max-width: 50%; */
        /* margin-left: auto;
      margin-right: auto; */
        
    }




















}












/* ************ */
/* BELOW IS OLD */
/* ************ */

/* On screens that are 600px or less, set the background color to olive */

@media (max-width: 1000px) {
/* @media (max-width: 1000px) { */
    body {
        background-color: lightcyan;
    }
    h1 {}

/* Styles for Home Page/home.mustache file. */
    .rows {}
    .profiles {
        background-color: lightcoral;
        width: 80%;
        /* width: 25em; */
    }
    .profile_img {
        /* margin: .5em auto;
        display: block; */
    }
    .profile_a {
        /* font-size: 2em; */
    }
    .profile_span {
        font-size: 2em;
    }


/* Styles for User Page/profile.mustache and profile_available.mustache files */
    .home_a {
        /* font-size: 1.5em; */
    }
    .users_outer_div {
        /* max-width: 90%; */
    }
    .user_img, .users_inner_div, .user_name, .user_p {}
    .user_img {}
    .users_inner_div {}
    .user_name {}
    .user_p {
        /* font-size: 1.5em; */
    }
}