<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>USER</title>
  <!-- <link rel="stylesheet" href="./../css/style.css"> -->
  <!-- <link href="https://googleapis.com/css?family+Roboto" rel="stylesheet"> -->
</head>

<body>
  <h1>USER</h1>
  <a href="/"><h5>HOME</h5></a>

  <div class="users">
    {{#WhatIsThis}} <!––'WhatIsThis' is referenced in index.js -->

      <img class="radius" src= {{avatar}}></a> <!––'avatar' is referenced in data.js -->
      <div class="right">
        <h1> {{name}}</h1> <!––'name' is referenced in data.js -->
        <p><b>Education: </b>{{university}}</p> <!––'university' is referenced in data.js -->
        <p><b>Skills: </b>{{skills}}</p> <!––'skills' is referenced in data.js -->
        <p>{{address.street_name}} | {{job}}</p> <!––'address.street_name' & 'job' are referenced in data.js -->
        <p>{{email}} | {{phone}}</p> <!––'email' is referenced in data.js -->
      </div>
      {{/WhatIsThis}} <!––'WhatIsThis' is referenced in index.js -->
    </div>
</body>
</html>
